*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{

  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  background: #020024;
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-size: 200% 200%;

  animation: flow 10s ease infinite;

  height: 200vh;
}


.bar{  

  position: fixed;
  top: 	0;
 
 
  width: 100%;
  padding: 0.5em;

  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 2em;
  
  transition: transform 0.8s ease; /* we activate the transition */
  z-index: 999;

  background: rgba(167, 86, 204, 0.1); /* Transparent white */
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  color: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  
}

.bar.hidden{
    transform: translateY(-200%); /* -50% in X, -200% in Y when the sideBar is hidden */
}

.bar.visible{
    transform: translateY( 0); /* it return to position normal when it's visible */
}



.logo-button {
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  color: #0f9482;
  transition: color 0.4s ease;
}

.logo-button:hover {
  color: rgb(133, 130, 131);
}

.btn-menu{

    width: 3.10rem;
    height: 3rem;

    border: 0; /* limpia los estilos del boton */
    background: transparent; /* limpia los estilos del boton */

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.79rem;
}
    
.btn-menu.open div:nth-child(1){
  transform: rotate(45deg);
}

.btn-menu.open div:nth-child(2){
  opacity: 0;
}

.btn-menu.open div:nth-child(3){
  transform: rotate(-45deg);
}


.line{
    
    width: 100%;
    height: 0.3em;
    background-color: rgb(88, 192, 88);
    border-radius: 0.1em;

    transition: all .5s;
    transform-origin: left;

}

.profile-animation {
  margin: 0 auto;
  margin-top: 3rem;

  width: 100%;
  height: auto;

  padding: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}


.animation{
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2em;
}

.figure {
  width: 75%;
  min-width: 220px;
  aspect-ratio: 1/1;
  border-radius: 70% 30% 49% 51% / 30% 45% 55% 70%; 
  background: #18181a;
  background: linear-gradient(90deg,rgba(24, 24, 26, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(51, 55, 56, 1) 100%);
  position: relative;
  overflow: hidden ;
 
  padding: 1rem;
  margin-left: 2.5rem;
  
  
  animation: breathe 4s ease-in-out infinite, spin 10s linear infinite;
}

.img {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  padding: 1rem;
  border-radius: 50%;
  

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: counterSpin 10s linear infinite;
  
}

.texts{
  margin-right: 2.5rem;
  width: 100%;
  height: auto;

  padding: 1rem;
}

.uxui{
  font-size: 2em;
  text-transform: uppercase;
  text-align: start;

  background: linear-gradient(90deg, rgba(235, 52, 73, 1) 12%, rgba(236, 121, 49, 1) 30%, rgba(238, 238, 44, 0.98) 43%, rgba(53, 194, 41, 1) 56%, rgba(27, 124, 214, 1) 70%, rgba(242, 0, 255, 1) 100%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 3s linear infinite;
}

.on{
 
  display: flex;
  gap: 0.3rem;
  align-items: center;

  color: antiquewhite;

}

.target {
  margin: 0 auto;
  width: 90%;
  max-width: 75rem;

  padding: 2rem 1rem;
  gap: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  color: white;
  text-align: center;

  box-sizing: border-box;
  word-break: break-word; /* this stops long words from overflowing */
}

/* TITLE STYLE */
.tittle {
  font-size: clamp(1.5rem, 4vw, 3rem); /* Responsive text size */
  line-height: 1.2;
  background: linear-gradient(to right, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

/* PARAGRAPH STYLE */
.about {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  max-width: 60ch;
  line-height: 1.6;
  color: #f1f1f1;
}

.magic-text{

  font-size: 3em;

  margin-top: 2rem;
  display: flex;
  justify-content: center;


  background: linear-gradient(to right, #7873f5, #8d8a8a);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 3s linear infinite;
  -o-animation-fill-mode: both;

  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  
  animation:
        scale-up both ease-in-out,
        fade-away both linear;
        animation-range:
        exit 0% exit 65%,
        /* Rango de escala */
        exit 40% exit 100%;
    /* Rango de opacidad */
}


.magic-text.visible {
  opacity: 1;
  transform: translateY(0);
}


/* utilitary class */

.centered-section {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
}




@keyframes flow{
  0%{
    background-position: 0% 50%;
  }

  50%{
     background-position: 100% 50%;
  }

  100%{
      background-position: 0% 50%;
  }
  
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1), rotate(0deg);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    
  }
  100% {
    transform: scale(1.5), rotate(180deg);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes counterSpin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg); /* Spin in opposite direction */
    
  }
}

@keyframes colors{
  0%{
    background: #18181a;
    background: linear-gradient(90deg,rgba(24, 24, 26, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(51, 55, 56, 1) 100%);
  }

  50%{
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  }

  100%{
    
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 20%, rgba(9, 9, 121, 1) 46%, rgba(0, 212, 255, 1) 91%);
  }
}

@keyframes gradient{
  to{
    background-position: 200%;
  }
}


@media (max-width: 576px){
  body{
    display: flex;
  }
}

